<div class="row" fxLayout="column" >
    <div class="col-12" fxFlex="1">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-0">
                        HOLAS BUENAS
                </h2>
                <h6 class="card-subtitle">
                    Buenas tardes
                </h6>
            </div>
        </div>
    </div>
</div>