<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/bg3.jpg);">
  <div class="login-box card">
    <div class="card-body" fxLayout="column">
      <form class="form-horizontal form-material" id="loginform" #form="ngForm">
        <a routerLink="/home" class="text-center db"><img src="../assets/images/logo-ng.png" alt="Home" />
          <br />
          <img src="../assets/images/ng-text.png" alt="Home" /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input [(ngModel)]="user.username" name="username" value="neomartinr" class="form-control" type="text"
              required placeholder="Usuario" autofocus minlength="3"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input [(ngModel)]="user.password" name="password" class="form-control" type="password"
              required placeholder="Contraseña" />
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex no-block align-items-center">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox" [(ngModel)]="rememberCheck" name="rememberCheck" (click)="remember()" />
              <label for="checkbox-signup"> Recordarme </label>
            </div>
            <div class="ml-auto">
              <!-- <a href="javascript:void(0)" id="to-recover" class="text-white"><i class="fa fa-lock m-r-5"></i> Olvido su
                password?</a> -->
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button  (click)="login()" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit" [disabled]="form.invalid">
              Ingresar
            </button>
          </div>
        </div>
        <!-- <ng-template #login> -->
          <!-- <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button (click)="logout()"
                class="btn btn-warning btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                Salir
              </button>
            </div>
          </div> -->
          <!-- <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button (click)="obtener()"
                class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                Mostrar
              </button>
            </div>
          </div> -->
        <!-- </ng-template> -->
        <!-- Social Media
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                      <div class="social">
                          <button class="btn btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>
                          <button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>
                      </div>
                  </div>
              </div> -->
        
      </form>
      <div fxFlex></div>
      <div class="login-icon text-center">
        <img src="../assets/images/login2.png" class="" alt="">
      </div>
      <div class="login-sidebar text-center">
        <!-- <div style="flex: 1"></div> -->
        <!-- <div class="form-group m-b-0"> -->
          <!-- <div class="col-sm-12 text-center"> -->
            <h3 class="text-orange">USUARIO DE PRUEBA:</h3>
            <p class="m-b-0">User: Test</p>
            <p class="m-b-0">Pass: 1234</p>
            <div class="divider"></div>
            <h2>
              NETGAMES 2.0
            </h2>
            <div class="divider"></div>
            <p class="m-b-0">
              <span class="text-orange">
                Developer: 
              </span>  
              Martín Rodríguez 
            </p>
            <p>neomartinr@gmail.com</p>

            <div class="social">
              <a href="https://www.linkedin.com/in/mart%C3%ADn-alejandro-rodr%C3%ADguez-46b7a9a8/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <!-- <a href="#" (click)="clipboard(code); $event.preventDefault()">
                <i class="fas fa-puzzle-piece"></i>
              </a> -->
              <a href="https://www.facebook.com/agemarod/" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div style="height: 50px;"></div>
            <!-- <button (click)="getClipboardCode()" class="btn btn-primary">Dev purpose</button> -->
            <!-- <a href="pages-register2.html" class="text-success m-l-5"><b>Registrar</b></a> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <form class="form-horizontal" id="recoverform"
        action="https://wrappixel.com/demos/admin-templates/material-pro/material/index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <!-- <h3>Recuperar contraseña</h3> -->
            <p class="text-muted">
              Ingresa tu correo para recuperar tu contraseña!
            </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email" />
          </div>
        </div>
        
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
              Reset
            </button>
          </div>
        </div>
      </form>

      <!-- <div *ngIf="auth.userData as user">
        <pre>
            {{ user | json }}
        </pre>
      </div> -->
    </div>
  </div>
</section>
