.card {
    border: none !important;
    border-radius: 0%;
}

.card > * {
    color: white !important;
}
.form-control {
    color: white !important;
}

.login-icon > img {
    width: 100px;
    margin-bottom: 10px;
}

.login-sidebar {
    display: flex;
    flex: 1;
    flex-flow: column;
}
.card-body {
    display: flex;
    flex-flow: column;
}
.divider {
    flex: 1;
    display: block;
}

h2 {
    color: white;
}
.social i {
    font-size: 2.5em;
    margin: auto;
    /* display: block; */
    
}
.social {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: auto;
}
.social > a {
    margin: auto;
    display: inline-block;    
    color: white;
}
.social > a:hover {
    color: #2e4cf7
}