/* .mat-form-field-infix {
    width: 100% !important;
} */
.mat-form-field-wrapper {
    padding-bottom: 1em;
}

.mat-form-field-underline {
    bottom: 0.25em !important;
}

/* .mat-header-cell {
    color: #f00;
} */

.inputNew > .mat-form-field-underline {
    bottom: 0.25em;
}

.inputNew {
    /* color: red */
}
.mat-form-field-wrapper {
    padding-bottom: 0.25em !important;
}
/* .inputNew .mat-form-field-wrapper {
    bottom: 0.25em !important;
} */
.mat-stroked-button {
    line-height: 22px !important;
    background-color: crimson !important;
    color: crimson !important;
}