<div class="row noDisplay">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        
        <div class="row">
          <div class="col-5" fxLayout="column">
            <h1 fxFlex>USUARIOS</h1>
            
            <div fxLayout="row">
              <mat-form-field fxFlex>
                <span matPrefix class="p-r-10"><i class="fas fas fa-search"></i></span>
                <input matInput [(ngModel)]="search" name="search" id="name" 
                       (keyup)="applyFilter($event.target.value)" placeholder="Buscar"/>
                <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear"  
                        (click)="applyFilter(''); search=''">
                  <i class="mdi mdi-close" matTooltip="Borrar"></i>
               </button>
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="col-2">
            
          </div> -->
          <div class="col-7" fxFlex fxLayoutAlign="end center">
            <button class="btn btn-info" (click)="addUserDialog()">
              <i class="mdi mdi-account-plus"></i> Nuevo User
            </button>
            <div fxFlex></div>
            <img src="assets/images/users/users1.jpg" height="120px">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
              <ng-container  matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="start center" fxFlex>
                  Nombre y Apellido
                </th>
                <td mat-cell *matCellDef="let client; let i = index"  fxLayoutAlign="start center" fxFlex> 
                  <div [hidden]="client._id === editable" >
                    {{ client.name + ' ' + client.surname }} 
                  </div>
                  <div [hidden]="client._id !== editable">
                    <mat-form-field fxFlex style="margin-right: 7px;" class="inputNew">
                      <input type="text" matInput placeholder="nombre" [(ngModel)]="client.name" name="name" />
                    </mat-form-field>
                    <mat-form-field fxFlex class="m-r-20">
                      <input type="text" matInput placeholder="apellido" [(ngModel)]="client.surname" name="surname"/>
                    </mat-form-field>
                  </div>
                </td>            
              </ng-container>
              <ng-container matColumnDef="phone" >
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="start center" fxFlex="160px">
                  Teléfono
                </th>
                <td mat-cell *matCellDef="let client; let i = index" fxLayoutAlign="start center" fxFlex="160px">
                  <span *ngFor="let phone of client.phone; let k = index; trackBy:trackByFn">
                    <div *ngIf="client._id !== editable" >
                      <ng-container *ngIf="phone === '260-4' || !phone; else elsePhone">
                        Sin Teléfono
                      </ng-container>
                      <ng-template #elsePhone>
                        {{ phone }}
                      </ng-template>
                    </div>
                    <div *ngIf="client._id === editable">
                      <mat-form-field class="p-r-10">
                        <ng-container *ngIf="client.phone.length; else elsePhone">
                          <input type="text" matInput
                              [(ngModel)]="client.phone[k]" name="phone"/>
                        </ng-container>
                        <ng-template #elsePhone>
                          <input type="text" matInput name="phone" [(ngModel)]="client.phone[0]">
                        </ng-template>
                      </mat-form-field>
                    </div>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="start center" fxFlex="220px">
                  Email
                </th>
                <td mat-cell *matCellDef="let client; let i = index" fxLayoutAlign="start center" fxFlex="220px">
                  <div *ngIf="client._id !== editable" >
                    <ng-container *ngIf="client.email; else elseEmail">
                      {{ client.email }}
                    </ng-container>
                    <ng-template #elseEmail>
                      Sin Email
                    </ng-template>
                  </div>
                  <div *ngIf="client._id === editable">
                      <mat-form-field class="m-r-20">
                        <input type="text" matInput 
                        [(ngModel)]="client.email" name="email"/>
                      </mat-form-field>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="start center" fxFlex="110px">
                  Tipo
                </th>
                <td mat-cell *matCellDef="let client; let i = dataIndex" fxLayoutAlign="start center" fxFlex="110px">
                  <div [hidden]="client._id === editable">
                    <span class="badge badge-info px-2 py-1" *ngIf="client.role.name === 'CLIENT_ROLE'">Cliente</span>
                    <span class="badge b-green px-2 py-1" *ngIf="client.role.name === 'USER_ROLE'">Usuario</span>
                    <span class="badge b-red px-2 py-1" *ngIf="client.role.name === 'ADMIN_ROLE'">Administrador</span>
                    <span class="badge b-dark-h px-2 py-1" *ngIf="client.role.name === 'SUPER_ADMIN_ROLE'">Super Admin</span>
                    <!-- <pre>
                      {{ client.role | json }}
                    </pre> -->
                  </div>
                  <div [hidden]="client._id !== editable" fxFlex>
                    <mat-form-field fxFlex >
                      <!-- <mat-label>Favorite food</mat-label> -->
                      <!-- {{ client.role.name}} -->
                      <mat-select [placeholder]="[client.role.viewValue]" [(ngModel)]="client.role">
                        <mat-option *ngFor="let role of roles | accessLevel: user.role.access_level" [value]="role">
                          {{ role.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>
              </ng-container>
              <!-- <ng-container matColumnDef="office" *ngIf="currentUser.role === 'ADMIN_ROLE'" fxFlex="160px">
                San Rafael - Olascoaga 21
              </ng-container> -->
              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef fxLayoutAlign="start center" fxFlex="100px">
                  Editar
                </th>
                <td mat-cell *matCellDef="let client, let i = index" fxLayoutAlign="start center" fxFlex="100px">
                  <div *ngIf="client._id !== editable">
                    <button class="btn btn-sm btn-warning m-r-2"  matTooltip="Ir al perfil del cliente"
                        (click)="viewClient(client._id); $event.stopPropagation()">
                      <i class="mdi mdi-eye"></i>
                    </button>
                    <button matTooltip="Editar cliente" (click)="setEditable(client._id, i); $event.stopPropagation()" 
                    class="btn waves-effect waves-light btn-sm btn-success m-r-2" type="button">
                      <i class="mdi mdi-border-color"></i>
                    </button>
                    
                    <button class="btn btn-sm btn-danger"  matTooltip="Eliminar cliente"
                        (click)="deleteClient(client._id, i); $event.stopPropagation()">
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </div>
                  <div *ngIf="client._id === editable">
                    <button matTooltip="Editar cliente" (click)="updateUser(client, i); $event.stopPropagation()" 
                    class="btn waves-effect waves-light btn-sm b-green" type="button" style="margin-right: 2px" >
                      <i class="mdi mdi-check"></i>
                    </button>
                    <!-- Cancel button sends, NULL: reset dataSource, i: Index del array -->
                    <button class="btn btn-sm b-red"  matTooltip="Cancelar"
                        (click)="setEditable(null, i); $event.stopPropagation()">
                      <i class="mdi mdi-close"></i>
                    </button>
                  </div>
                 
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 40, 100]"></mat-paginator>
          </div>
         
        
        
      </div>
    </div>
  </div>
</div>
</div>