<div class="container">
    <div class="move-me-app">
        <button (click)="clipboard(code); $event.preventDefault()" class="btn btn-warning btn-lg">
            Done!
        </button>
    </div>

    <div class="move-me-app">
        <button (click)="getUserData()" class="btn btn-warning">
            GET User
        </button>
    </div>
    <div class="move-me-app">
        <button (click)="getUserDevices()" class="btn btn-warning">
            GET Devices
        </button>
    </div>
</div>