<!-- <nav class="navbar top-navbar navbar-expand-md navbar-light"> -->
<!-- navbar top-navbar navbar-expand-md navbar-light -->
<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="navbar-header">
  <a class="navbar-brand" routerLink="/home">
    <!-- Logo icon -->
    <b>
      <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
      <!-- Dark Logo icon -->
      <!-- <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" /> -->
      <!-- Light Logo icon -->
      <!-- <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
      <img src="./assets/images/logo-ng.png" width="38" height="32" alt="homepage" class="header-company-logo light-logo">
      
    </b>
    <!--End Logo icon -->
    <!-- Logo text -->
    <span>
      <!-- <img src="./assets/images/ng-logo.png" width="34" height="34" alt="homepage" class="dark-logo"> -->
      <span class="header-company-name m-l-10">
        <b><b>NET</b></b>GAMES 
      </span>
    </span>
    <!-- dark Logo text -->
    <!-- <img src="../assets/images/logo-text.png"  /> -->
    <!-- Light Logo text -->
    <!-- <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> -->
  </a>
</div>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->
<div class="navbar-collapse">
  <!-- ============================================================== -->
  <!-- toggle and nav items -->
  <!-- ============================================================== -->
  <ul class="navbar-nav mr-auto mt-md-0">
    <!-- This is  -->
    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
    <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
    <!-- ============================================================== -->
    <!-- Search -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item hidden-sm-down search-box">
      <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i
          class="ti-search"></i></a>
      <form class="app-search">
        <input type="text" class="form-control" placeholder="Buscar"> <a class="srh-btn"><i class="ti-close"></i></a>
      </form>
    </li> -->
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown mega-dropdown">
      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
      <div class="dropdown-menu scale-up-left">
        <ul class="mega-dropdown-menu row">
          <li class="col-lg-3 col-xlg-2 m-b-30">
            <h4 class="m-b-20">ÚLTIMOS LIBROS AÑADIDOS</h4>
            <small class="light text-info">Opción a implementar a futuro</small>
            <!-- CAROUSEL -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="container"> <img class="d-block img-fluid" src="../assets/images/big/img1.jpg"
                      alt="First slide"></div>
                </div>
                <div class="carousel-item">
                  <div class="container"><img class="d-block img-fluid" src="../assets/images/big/img2.jpg"
                      alt="Second slide"></div>
                </div>
                <div class="carousel-item">
                  <div class="container"><img class="d-block img-fluid" src="../assets/images/big/img3.jpg"
                      alt="Third slide"></div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span
                  class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span
                  class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
            <!-- End CAROUSEL -->
          </li>
          <li class="col-lg-3 m-b-30">
            <h4 class="m-b-20">ÚLTIMOS MENSAJES</h4>
            <!-- Accordian -->
            <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                      aria-controls="collapseOne">
                      <span class="text-green">
                        OhanaCop te da la Bienvenida!
                      </span> 
                    </a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body"> Buenos días <b><b> {{ localUser.user.name + ' ' + localUser.user.surname }}</b></b>
                   , Bienvenid@ al sistema <b class="text-info"><b>OhanaCop 1.0</b></b> esperamos te resulte útil y sientas a gusto utilizándolo. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <span class="text-blue bold">Guía:</span>  Manejo de Contraseña
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body"> Recuerda que la contraseña generada para todos los usuarios tipo "CLIENTE" es: <b><b>1234</b></b>
                     en el caso de <span class="text-red">no recordar</span> la contraseña de tu usuario podrás resetearla 
                     yendo a la sección <a [routerLink]="['/profile', localUser.user._id]">Perfil</a>. 
                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      <span class="text-blue bold">Guía:</span>  Añadir Libro
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body"> 
                    Recuerda que al ingresar un nuevo libro al sistema este mismo irá buscando mientras colocas el nombre si 
                    ya existe un libro similar. <br> <span class="text-red">Es importante evitar cargar libros 
                    iguales para mantener un orden en el sistema.</span> <br>
                    Ir a <a [routerLink]="['/add-file']">Añadir libro</a>. 
               </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <span class="text-orange bold">TIPS:</span>  Añadir libro y buscar
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body"> 
                    Cuando se agrega un libro al sistema es importante vincularlo de ser posible a alguna institución y asignarle carrera así como año
                    ya que luego al buscar un archivo para agregar a la orden/tarea se podrá utilizar el código, nombre de institución, año, como palabra clave en el buscador.
                    
                </div>
                </div>
              </div>
            </div>
            
          </li>
          <li class="col-lg-3  m-b-30">
            <h4 class="m-b-20">CONTACTAR DESARROLLADOR</h4>
            <br>
              <small class="text-red">Sin implementar</small>
            <!-- Contact -->
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Título del email"> </div>
              <!-- <div class="form-group">
                <input type="email" class="form-control" placeholder="Ingresar email"> </div> -->
              <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Consulta"></textarea>
              </div>
              <button type="submit" class="btn btn-info" [disabled]="true">Enviar</button>
              
            </form>
          </li>
          <li class="col-lg-3 col-xlg-4 m-b-30">
            <h4 class="m-b-20">ACCESOS COMÚNES</h4>
            <!-- List style -->
            <ul class="list-style-none">
              <li><a [routerLink]="['/home']"><i class="fa fa-check text-success"></i> Menú principal</a></li>
              <li><a [routerLink]="['/add-task']"><i class="fa fa-check text-success"></i> Añadir tarea</a></li>
              <li><a [routerLink]="['/add-file']"><i class="fa fa-check text-success"></i> Añadir archivo</a></li>
              <li><a [routerLink]="['/profile', localUser.user._id]"><i class="fa fa-check text-success"></i> Perfil</a></li>
              <li><a [routerLink]="['/logout']"><i class="fa fa-check text-danger"></i> Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
  </ul>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <ul class="navbar-nav my-lg-0">
    <!-- ============================================================== -->
    <!-- Comment -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
        <ul>
          <li>
            <div class="drop-title">Notifications</div>
          </li>
          <li>
            <div class="message-center">
              
              <a href="#">
                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                <div class="mail-contnet">
                  <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span
                    class="time">9:30 AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                <div class="mail-contnet">
                  <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span
                    class="time">9:10 AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                <div class="mail-contnet">
                  <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span
                    class="time">9:08 AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                <div class="mail-contnet">
                  <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02
                    AM</span>
                </div>
              </a>
            </div>
          </li>
          <li>
            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i
                class="fa fa-angle-right"></i> </a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- ============================================================== -->
    <!-- End Comment -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" id="2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
      </a>
      <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
        <ul>
          <li>
            <div class="drop-title">You have 4 new messages</div>
          </li>
          <li>
            <div class="message-center">
              
              <a href="#">
                <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span
                    class="profile-status online pull-right"></span> </div>
                <div class="mail-contnet">
                  <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30
                    AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> <span
                    class="profile-status busy pull-right"></span> </div>
                <div class="mail-contnet">
                  <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span
                    class="time">9:10 AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span
                    class="profile-status away pull-right"></span> </div>
                <div class="mail-contnet">
                  <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                </div>
              </a>
              
              <a href="#">
                <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span
                    class="profile-status offline pull-right"></span> </div>
                <div class="mail-contnet">
                  <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02
                    AM</span>
                </div>
              </a>
            </div>
          </li>
          <li>
            <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i
                class="fa fa-angle-right"></i> </a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark header-img" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <ng-container *ngIf="localUser.user.image; else elseImg">
          <div class="media" id="profileImgHeader"
            [ngStyle]="{'background-image': 'url(' + localUser.user.image + ')'}"></div>
          <!-- <img src="{{localUser.user.image}}" alt="user" class="profile-pic"> -->
        </ng-container>
        <ng-template #elseImg>
          <img src="../assets/images/user.jpg" alt="user" class="profile-pic" />
        </ng-template>
      </a>
      <div class="dropdown-menu dropdown-menu-right scale-up">
        <ul class="dropdown-user">
          <li>
            <div class="dw-user-box" style="width: 100%; display: flex; flex-flow: row;">
              <div class="u-img" style="width: 80px;">
                <ng-container *ngIf="localUser.user.image; else elseImg">
                  <img src="{{localUser.user.image}}" alt="user">
                </ng-container>
                <ng-template #elseImg>
                  <img src="../assets/images/user.jpg" alt="user">
                </ng-template>
              </div>
              <div class="u-text" style="width: 100%">
                <h4>{{ localUser.user.name + ' ' + localUser.user.surname }} </h4>
                <p class="text-muted">{{ localUser.user.email }}</p>
                <!-- <a href="" [routerLink]="['/profile', localUser.user._id ]" class="btn btn-rounded btn-danger btn-sm">
                    Ver Perfil
                </a> -->

              </div>
            </div>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href="#" [routerLink]="['/profile', localUser.user._id ]"><i class="ti-user"></i> Mi Perfil</a></li>
          <!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                          <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li> -->
          <li role="separator" class="divider"></li>
          <li><a (click)="_auth.logout()" class="pointer"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </li>
    <!-- ============================================================== -->
    <!-- Language -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Role -->
    <!-- ============================================================== -->
    <li class="b-red header-role" matTooltip="Rol" [ngClass]="{
          'badge-info': localUser.user.role.access_level === 0,
          'b-green': localUser.user.role.access_level === 1,
          'b-red': localUser.user.role.access_level === 3,
          'b-dark': localUser.user.role.access_level === 4
        }">
      {{ localUser.user.role.name | truncate: 1}}
    </li>
    <!-- ============================================================== -->
    <!-- End Role -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a>
      <div class="dropdown-menu dropdown-menu-right scale-up"> <a class="dropdown-item" href="#"><i
            class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i
            class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i
            class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i
            class="flag-icon flag-icon-de"></i> Dutch</a> 
        </div>
    </li> -->
  </ul>
</div>
<!-- </nav> -->
