<div class="row">
  <!-- czxc -->
  <!-- <div id="propic" [ngStyle]="{'background-image': 'url(' + user.user.image + ')'}">
  </div> -->
</div>
<div class="row">
  
  <!-- Column -->
  <div class="col-lg-4 col-md-12" *ngIf="user">
    <div class="card profile-card" >
      <img class="card-img profile-img" src="../assets/images/background/user-profile.jpg" alt="Card image">
      <div class="card-img-overlay card-inverse social-profile d-flex justify-content-center">
        <div class="align-self-center">
          <div *ngIf="user" class="profile-img-container m-b-20">
            <div id="profileImg" [ngStyle]="{'background-image': 'url(' + user.user.image + ')'}">

            </div>
            <!-- <img src="{{user.user.image}}" class="rounded-circle m-b-20 profile-user-img" width="100" height="170"
              *ngIf="user.user.image"> -->
            <img src="../assets/images/user.jpg" class="rounded-circle m-b-20 profile-user-img" width="100"
              *ngIf="!user.user.image">
          </div>
          <h4 class="card-title">
            {{ user.user.name + ' ' + user.user.surname }}
          </h4>
          <h6 class="card-subtitle">
            {{ user.user.email }}
          </h6>
          <p>
            <span *ngIf="user.user.role.access_level === 0" class="badge badge-info px-2 py-1">Cliente</span>
            <!-- <span class="badge badge-success px-2 py-1">Medium</span> -->
            <span *ngIf="user.user.role.access_level === 1" class="badge b-green px-2 py-1">Usuario</span>
            <span *ngIf="user.user.role.access_level === 3" class="badge b-red px-2 py-1">Admin</span>
            <span *ngIf="user.user.role.access_level === 4" class="badge b-dark-h px-2 py-1">Super Admin</span>
          </p>
          <p class="text-white">Ohana User</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">

        <small class="text-info d-block">Usuario</small>
        <h5 class="">{{ user.user.username }}</h5>
        <small class="text-info">Correo electrónico</small>
        <h6>{{ user.user.email }}</h6>
        <small class="text-info d-block">Phone</small>
        <h6>{{ user.user.phone }}</h6>
        <small class="text-info d-block">Domicilio</small>
        <ng-container *ngIf="user.user.dir; else noDir">
          <h6>{{ user.user.dir + ' ' + user.user.dir_num }}
          <i *ngIf="user.user.departament"> {{ '- Dpto: ' + user.user.departament }}</i>
        </h6>
        </ng-container>
        <ng-template #noDir>
          <h6 class="text-red">No se registra dirección</h6>
        </ng-template>
        <!-- <div class="map-box">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div> <small class="text-muted pt-4 d-block">Social Profile</small> -->
        <br>
        <!-- <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
              <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
              <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button> -->
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-md-12" >
    <div class="card" *ngIf="user">
      <div class="profile-username">
        <h2 class="m-b-0">
          USUARIO:
          <span class="text-green"> {{ user.user.username | uppercase }} </span>
        </h2>
      </div>
      <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-selected="true">Timeline</a>
            </li> -->
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Perfil">

          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 col-xs-6 border-right ">
                  <strong class="text-gray semi-bold">Nombre Completo</strong>
                  <br>
                  <p class="">
                    {{ user.user.name + ' ' + user.user.surname }}
                  </p>
                </div>
                <div class="col-md-3 col-xs-6 border-right">
                  <strong class="text-gray semi-bold">
                    Teléfono
                  </strong>
                  <br>
                  <p class="">
                    {{ user.user.phone }}
                  </p>
                </div>
                <div class="col-md-4 col-xs-6 border-right">
                  <strong class="text-gray semi-bold">
                    Email
                  </strong>
                  <br>
                  <p class="">{{ user.user.email }}</p>
                </div>
              </div>
              <hr class="m-b-0">
              <!-- <a href="" [routerLink]="['/statistics']">Estadisticas</a> -->
              <div>
                <p class="mt-3">
                  <!-- <strong>Frase motivacional:</strong> -->
                  <ng-container *ngIf="user.user.observations; else elseObservations">
                    <p> {{ user.user.observations }} </p>
                  </ng-container>
                  <ng-template #elseObservations>
                    <p class="text-info text-center motivational-phrase">
                      <i class="f-25em">
                        “Todo lo que necesitas para ser feliz se encuentra al otro lado de tus miedo.”
                      </i>
                    </p>
                  </ng-template>
                  <!-- <hr> -->
                  <!-- <h2 class="text-center bold">OhanaCop</h2> -->
                  <!-- VOLVER A HABILITAR -->
                  <p class="text-center" *ngIf="user.user.role.access_level < 3 && localUser.user.role.access_level <=2">
                    <img src="../assets/images/background/motivadora.jpg" alt="">
                  </p>
              </div>
            </div>
            <hr>
            <div class="profile-username" *ngIf="localUser.user.role.access_level >= 3">
              <h2 class="m-b-0">
                SUCURSALES A CARGO 
                <!-- <span class="text-green"> {{ user.user.username | uppercase }} </span> -->
              </h2>
            </div>
            <div class="card-body" *ngIf="localUser.user.role.access_level >= 3">
              <div class="row m-0" >
                <div class="mr-auto">
                  <h3 class="card-title">ASIGNAR SUCURSALES</h3>
                  <h6 class="card-subtitle">
                    Asignar sucursales en las que el usuario podrá trabajar.
                  </h6>
                </div>
                <div>
                  <button class="btn btn-primary m-r-10" [disabled]="!userBranchUpdate"
                          (click)="updateUser(user.user._id)">
                    Actualizar
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="text-blue">
                    SUCURSAL VINCULADAS
                  </h4>
                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="linked_branches"
                    [cdkDropListConnectedTo]="[doneList]" class="drag-drop-list" (cdkDropListDropped)="drop($event)">
                    <div class="dd-box dd-linked" *ngFor="let item of linked_branches " cdkDrag>
                      <div>
                        <span class="semi-bold f-16">{{ item.name }}</span> - {{ item.adress + ' ' + item.adress_number }}
                        <p class="m-b-0 text-muted">
                          {{ item.location }}
                        </p> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h4 class="text-green">
                    SUCURSALES DISPONIBLES
                  </h4>
                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="avaiable_branches"
                    [cdkDropListConnectedTo]="[todoList]" class="drag-drop-list" (cdkDropListDropped)="drop($event)">
                    <div class="dd-box" *ngFor="let item of avaiable_branches" cdkDrag>
                      <div>
                        <span class="semi-bold f-16">{{ item.name }}</span> - {{ item.adress + ' ' + item.adress_number }}
                        <p class="m-b-0 text-muted">
                          {{ item.location }}
                        </p> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Estadísticas">
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-body">
              <div class="row">
                <div fxFlex="100">
                  Resumen:
                </div>
                <app-profile-statistics id="sta" fxFlex>
                </app-profile-statistics>
                <div fxFlex="100" class="p-r-10 p-l-10 statistics-progress">
                  <h4 class="font-medium mt-4">Skill Set</h4>
                  <hr>
                  <h5 class="mt-4">Entregas <span class="pull-right">80%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100" style="width:80%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">Terminados <span class="pull-right">90%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100" style="width:90%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">En proceso <span class="pull-right">50%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100" style="width:50%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">Cancelados <span class="pull-right">70%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100" style="width:70%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Editar">
          <div class="tab-pane" id="settings" role="tabpanel">
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-md-6">
                      <label class="text-info">Nombres</label>
                      <div>
                        <input type="text" [(ngModel)]="user.user.name" name="name" placeholder="Nombre"
                          class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="text-info">Apellido</label>
                      <div>
                        <input type="text" [(ngModel)]="user.user.surname" name="surname" placeholder="Apellido"
                          class="form-control form-control-line">
                      </div>
                    </div>

                  </div>

                </div>
                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-md-6">
                      <label class="text-info">Teléfono</label>
                      <div>
                        <input type="text" [(ngModel)]="user.user.phone" name="phone" placeholder="Teléfono"
                          class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="text-info" for="example-email">Email</label>
                      <div>
                        <input type="email" placeholder="Email" name="email" [(ngModel)]="user.user.email"
                          class="form-control form-control-line" name="example-email" id="example-email">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-md-6">
                      <label class="text-info">Domicilio</label>
                      <div>
                        <input type="text" [(ngModel)]="user.user.dir" name="dir" placeholder="Dirección"
                          class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label class="text-info" for="dir_num">Número</label>
                      <div>
                        <input type="text" placeholder="altura dirección" name="email" [(ngModel)]="user.user.dir_num"
                          class="form-control form-control-line" name="dir_num" id="dir_num">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label class="text-info" for="departament">Departamento</label>
                      <div>
                        <input type="text" placeholder="de corresponder" name="departament" [(ngModel)]="user.user.departament"
                          class="form-control form-control-line" name="departament" id="departament">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-md-6">
                      <label class="text-info">Usuario</label>
                      <div>
                        <input type="text" [(ngModel)]="user.user.username" name="username" placeholder="username"
                          class="form-control form-control-line">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-md-6">
                      <label class="text-info">Imagen</label>
                      <div>
                        <textarea rows="6" type="text" [(ngModel)]="user.user.image" name="image"
                          class="form-control form-control-line profile-image"></textarea>
                          <small class="text-red pointer" (click)="user.user.image = ''">Borrar texto imagen</small>
                      </div>
                    </div>
                    <div class="col-md-6 f-11" style="border: 1px dotted #333333; padding: 5px 10px 10px">
                      <span class="bold f-14 text-danger">
                        Info para personalizar imagen:
                      </span>
                      <p class="text-info m-b-0"> <i> Para agregar una imagen deben copiar el link de la misma y pegarlo
                          en la caja de texto de la izquierda. </i></p>
                      <span class="bold text-black f-12"> Click derecho -> Copiar dirreción de la imagen</span>
                      <!-- <p class="text-info m-b-0"><i> El texto copiado debería tener un formato similar al siguiente:
                        </i></p>
                      <span
                        class="">https://dcassetcdn.com/design_img/3666257/638410/638410_21168956_3666257_4834a0b4_image.png</span> -->
                    </div>
                  </div>
                </div>


                <!-- <div class="form-group">
                  <label class="col-md-12 text-info">Frase personal</label>
                  <div class="col-md-12">
                    <textarea rows="3" class="form-control form-control-line"></textarea>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label class="col-sm-12">Select Country</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line">
                      <option>London</option>
                      <option>India</option>
                      <option>Usa</option>
                      <option>Canada</option>
                      <option>Thailand</option>
                    </select>
                  </div>
                </div> -->
                <div class="form-group m-t-40">
                  <div class="col-sm-12">
                    <div>
                      <button class="btn btn-info waves-effect" (click)="updateUser(user.user._id)"
                        [disabled]="!user.user.name || !user.user.surname || !user.user.phone">Actualizar</button>
                    </div>
                    <span fxFlex></span>
                    <div fxLayout="column">
                      <button type="button" class="btn btn-warning waves-effect"
                              (click)="passwordChange()" 
                              *ngIf="id === localUser.user._id || localUser.user.role === 'ADMIN_ROLE' || localUser.user.role === 'SUPER_ADMIN_ROLE'"> 
                        <i class="mdi mdi-key-variant"></i>
                        Cambiar contraseña
                      </button>
                      <button mat-raised-button color="warn" class="m-t-10" (click)="resetPassword(user.user._id)"
                               *ngIf="id === localUser.user._id || localUser.user.role.access_level >= 3">
                        Resetear contraseña
                      </button>
                    </div>
                  </div>
                  
                </div>
              </form>
            </div>
            <div class="p-lr-15">
              <small class="text-red f-12">
                *Clave por defecto para usuario tipo <b>CLIENTE</b>: <b>1234</b> 
              </small>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- Nav tabs -->

      <!-- Tab panes -->


      <!--second tab-->


    </div>

  </div>
  <!-- Column -->
