.page-titles {
  padding: 0;
  padding-left: 12px;
  margin-bottom: 5px !important;
}

.branch-wrapper {
  color: white;
  display: flex;
  flex-flow: row;
  background-color: #272c33;

}

.branch-triangle {
  /* background-color: rgb(0, 119, 255); */
  width: 0;
  height: 0;
  border-right: 36px solid #272c33;
  /* border-right: 36px solid  rgb(0, 119, 255); */
  border-bottom: 48px solid #fff;
}

.branch-container {
  max-height: 48px;
  display: flex;
  flex-flow: column;
  padding: 4px 12px;
  line-height: 16px;
  min-width: 200px;
}

.branch-name {
  margin-top: 5px;
  font-weight: 500;
}

.branch-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 90, 194, 0.8);
  padding-left: 4px;
  padding-right: 4px;
}

.branch-option:hover {
  /* cursor: pointer; */
  background-color: rgb(69, 72, 75);
}

.branch-option.mat-form-field {
  transition: background-color 0.5s ease-in;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
}

.branch-option .mat-form-field-wrapper {
  padding-bottom: 0 !important;
  /* background-color: teal; */
}

.branch-option .mat-select-arrow {
  color: white;
}

.branch-option .mat-form-field-underline {
  display: none;
}

.branch-option .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border: 0;
}

.branch-option .mat-form-field-infix {
  border: 0;
}

.mat-option.custom-option {
  background: rgb(61, 61, 61) !important;
  min-height: 48px;
  line-height: 1.15;
  height: auto;
  padding: 8px 16px;
  white-space: normal;
  max-width: 400px !important;
  color: white;
}

.mat-option.mat-active.custom-option {
  background: rgb(31, 31, 31) !important;
  /* font-size: 1.5em; */
}

.mat-option.custom-option:hover {
  background: rgb(95, 95, 95) !important;
}
