<div *ngIf="order._id"
      style="position: absolute;
             top: 0;
             left: 0;">
      <!--  -->
  <div class="card order">
    <div class="card-body" fxLayout="row">
      <div fxLayoutAlign="center center">
        <div class="order-logo-wrapper">
          <img src="./assets/images/ohana.jpg" alt="">
        </div>
      </div>
      <div fxFlex fxLayout="column">
        <div fxLayout="row" class="title-wrapper" fxFlex>
          <h3>
            <b><b>CUPÓN ORDEN CLIENTE </b></b>
          </h3>
          <span fxFlex></span>
          <span class="f-14 text-black">
            <span class="bolder text-blue"> COD: </span> {{ order._id | truncate: 8 : true }}
          </span>
        </div>
        <hr>
        <div fxFlex fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>
              <b class="bold">
                Cliente:
              </b>
              {{ order.client_id.name + ' ' + order.client_id.surname }} <br>
            </span>
            <span class="text-info">
              <b class="bold">
                Fecha ingreso:
              </b>
              {{ order.created_at | amFromUnix  | amDateFormat: "DD-MM-YYYY - HH:mm" }}
            </span>
            <span>
              <b class="bold">
                Fecha de entrega:
              </b>
              {{ order.end_at | amFromUnix  | amDateFormat: "DD-MM-YYYY" }}
            </span>
            
            <!-- <p class="f-08em text-muted">
              #ID: {{ order._id }}
            </p> -->
          </div>
          <div fxFlex="125px" fxLayout="column">
            <div>
              <b class="bold f-14em text-blue" style="margin-bottom: 10px;">
                TOTAL: $ {{ order.price }}
              </b>
            </div>
            <div>
              <b class="bold">Seña:</b>
              $ {{ order.partial_payment }}
            </div>
            <div>
              <b class="bold">Restan:
              <span class="text-red">
                $ {{ order.price - order.partial_payment }}
              </span>
            </b>
            </div>
            <!-- <div>
              <span class="text-red">Estado: </span>  
              <span *ngIf="order.status === 'processed'"> Pendiente</span>
              <span *ngIf="order.status === 'in_progress'"> En proceso</span>
              <span *ngIf="order.status === 'completed'"> Terminado</span>
              <span *ngIf="order.status === 'cancelled'"> Cancelado</span>
              <span *ngIf="order.status === 'delivered'"> Entregado</span>
            </div>
          </div> -->
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" class="order-print-books">
            <h5 class="text-blue">
              Archivos solicitados:
            </h5>
            <div fxFlex>
              <div fxLayout="column" fxFlex>
                <div *ngFor="let item of order.items" class="order-print-items" fxFlex>
                  <div fxLayout="row">
                    <div fxFlex>
  
                      <i class="mdi mdi-book-open-page-variant m-r-5"></i>
                      <ng-container *ngIf="item.name; else nameFromId">
                        <span fxFlex="35px">{{ item.file_id.code }}</span>
                        {{  '- ' + item.name }}
                      </ng-container>
                      <ng-template #nameFromId>
                        <span fxFlex="35px">{{ item.file_id.code }}</span>
                        {{  '- ' + item.file_id.name }}
                      </ng-template>
  
                    </div>
                    <div fxFlex="40px">
                      {{ 'x ' + item.quantity }}
                    </div>
                    <div fxFlex="110px">
                      {{ 'Precio unit.: $ ' + item.price }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div fxLayout="column">
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
      </div> -->
      <div fxLayout="column" fxFlex="160px" class="order-info-wrapper" fxLayoutAlign="center start">
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-map-marker"></i>
          España 69
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-phone"></i>
          260-4820276
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-email"></i>
          ohanacop@gmail.com
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-facebook-box"></i>
          Ohana Cop
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-instagram"></i>
          @ohanacop
        </div>
      </div>
  
    </div>
   
   
  </div>
  <div class="card order">
     <!-- // Ohana Coupon -->
     <div class="card-body" fxLayout="row">
      <div fxLayoutAlign="center center">
        <div class="order-logo-wrapper">
          <img src="assets/images/ohana.jpg" alt="">
        </div>
      </div>
      <div fxFlex fxLayout="column">
        <div fxLayout="row" class="title-wrapper" fxFlex>
          <h3>
            <b><b>CUPÓN ORDEN OHANA </b></b>
          </h3>
          <span fxFlex></span>
          <span class="f-14 text-black">
            <span class="bolder text-blue"> COD: </span> {{ order._id | truncate: 8 : true }}
          </span>
        </div>
        <hr>
        <div fxFlex fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>
              <b class="bold">
                Cliente:
              </b>
              {{ order.client_id.name + ' ' + order.client_id.surname }} <br>
            </span>
            <span>
              <b class="bold">
                Dirección:
              </b>
              {{ order.client_id.dir + ' ' + order.client_id.dir_num }} <br>
            </span>
            <span class="text-info">
              <b class="bold">
                Fecha ingreso:
              </b>
              {{ order.created_at | amFromUnix  | amDateFormat: "DD-MM-YYYY - HH:mm" }}
            </span>
            <span>
              <b class="bold">
                Fecha de entrega:
              </b>
              {{ order.end_at | amFromUnix  | amDateFormat: "DD-MM-YYYY" }}
            </span>
            
            <!-- <p class="f-08em text-muted">
              #ID: {{ order._id }}
            </p> -->
          </div>
          <div fxFlex="125px" fxLayout="column">
            <div>
              <b class="bold f-14em text-blue" style="margin-bottom: 10px;">
                TOTAL: $ {{ order.price }}
              </b>
            </div>
            <div>
              <b class="bold">Seña:</b>
              $ {{ order.partial_payment }}
            </div>
            <div>
              <b class="bold">Restan:
              <span class="text-red">
                $ {{ order.price - order.partial_payment }}
              </span>
            </b>
            </div>
            <!-- <div>
              <span class="text-red">Estado: </span>  
              <span *ngIf="order.status === 'processed'"> Pendiente</span>
              <span *ngIf="order.status === 'in_progress'"> En proceso</span>
              <span *ngIf="order.status === 'completed'"> Terminado</span>
              <span *ngIf="order.status === 'cancelled'"> Cancelado</span>
              <span *ngIf="order.status === 'delivered'"> Entregado</span>
            </div>
          </div> -->
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" class="order-print-books">
            <h5 class="text-blue">
              Archivos solicitados:
            </h5>
            <div fxFlex>
              <div fxLayout="column" fxFlex>
                <div *ngFor="let item of order.items" class="order-print-items" fxFlex>
                  <div fxLayout="row">
                    <div fxFlex>
  
                      <i class="mdi mdi-book-open-page-variant m-r-5"></i>
                      <ng-container *ngIf="item.name; else nameFromId">
                        <span fxFlex="35px">{{item.file_id.code}}</span>
                        {{  '- ' + item.name }}
                      </ng-container>
                      <ng-template #nameFromId>
                        <span fxFlex="35px">{{item.file_id.code}}</span>
                        {{  '- ' + item.file_id.name }}
                      </ng-template>
  
                    </div>
                    <div fxFlex="40px">
                      {{ 'x' + item.quantity }}
                    </div>
                    <div fxFlex="110px">
                      {{ 'Precio unit.: $ ' + item.price }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div fxLayout="column">
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
        <p>Hola</p>
      </div> -->
      <div fxLayout="column" fxFlex="160px" class="order-info-wrapper" fxLayoutAlign="center start">
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-map-marker"></i>
          España 69
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-phone"></i>
          260-4820276
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-email"></i>
          ohanacop@gmail.com
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-facebook-box"></i>
          Ohana Cop
        </div>
        <div fxFlex fxLayoutAlign=" center">
          <i class="mdi mdi-instagram"></i>
          @ohanacop
        </div>
      </div>
  
    </div>
  </div>
</div>
