<mat-form-field [hidden]="true">
  <input matInput (keyup)="applyFilter(filterito)" placeholder="Filter" 
  [(ngModel)]="filterito"  name="filterito" >
</mat-form-field>
<div class="card-body" *ngIf="files === 'loading'" >
  <div class="no-block">
    <div class="card-title">
      BUSCANDO...
    </div>
    <div class="text-center">
      <img src="./assets/images/26.gif" alt="">
    </div>
  </div>
</div>
<div class="card-body" *ngIf="files === 'not-found'" [@inOutAnimation]>
  <div class=" no-block">
    <h2 class="card-title">
      RESULTADOS
    </h2>
    <hr>
    <h3 class="text-red text-center">NO SE ENCONTRARON LIBROS/ARTICULOS CARGADOS</h3>
    <p class="text-center">
      <img src="./assets/images/not-result.jpg" width="300" height="300" alt="">
    </p>
  </div>
</div>
<div [hidden]="files !== 'success'" [@inOutAnimation]>
  <table mat-table matSort
  [dataSource]="dataSource" multiTemplateDataRows
  class="mat-elevation-z0">
 <ng-container matColumnDef="name">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
   <td mat-cell *matCellDef="let element"> {{element.name}} </td>
 </ng-container>

 <!-- Año Column -->
 <ng-container matColumnDef="code">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. </th>
   <td mat-cell *matCellDef="let element"  class="f-12"> 
     <ng-container *ngIf="element.code; else elseCode">
       {{ element.code }}
     </ng-container>
     <ng-template #elseCode>
       <!-- {{ element._id }} -->
       {{ element._id | truncate: 5 }}
     </ng-template>
   </td>
 </ng-container>


 <!-- Institucion Column -->
 <ng-container matColumnDef="from_id">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Institución </th>
   <td mat-cell *matCellDef="let element"> 
     <ng-container *ngIf="element.career_id; else elseCareer">
       {{ element.career_id.name }} 
       <br>
       <small class="text-info">
         {{ element.from_id.name}}
       </small> 
     </ng-container>
     <ng-template #elseCareer>
       {{element.from_id.name}} 
     </ng-template>
   </td>
 </ng-container>

 

 <!-- Año Column -->
 <ng-container matColumnDef="year">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
   <td mat-cell *matCellDef="let element"  class="f-12"> {{element.year}}</td>
 </ng-container>

 <!-- Creado Column -->
 <ng-container matColumnDef="edit">
   <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center"                                                                                 > Edit </th>
   <td mat-cell *matCellDef="let element" class="mat-cell-center"> 
     <!-- <button class="btn btn-sm btn-warning" matTooltip="Deshabilitar" style="margin-right: 2px; padding: .25rem">
       <i class="fa fa-ban"></i>
     </button> -->
     <button class="btn btn-sm btn-danger" [hidden]="!fileListOptions.delete"
             (click)="deleteFile(element); $event.stopPropagation()" style="margin-right: 2px" matTooltip="Eliminar archivo">
       <i class="mdi mdi-delete"></i>
     </button>
     <button [hidden]="!fileListOptions.delete" [hidden]="!fileListOptions.add" matTooltip="Añadir a orden"
             (click)="addFileToTask(element); $event.stopPropagation()" class="btn waves-effect waves-light btn-sm btn-success" type="button">
       <i class="mdi mdi-plus"></i>
     </button>
   </td>
 </ng-container>
 
 <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
 <!-- <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr> -->

 <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
     <div class="example-element-detail"
         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
       <div class="example-element-diagram">
         <div class="example-element-position"> {{element.name}} </div>
         <!-- <div class="example-element-symbol"> {{element.created_at}} </div> -->
         <!-- <div class="example-element-name"> {{element.from_id.name}} </div> -->
         <!-- <div class="example-element-weight"> {{element.year}} </div> -->
       </div>
       <div class="example-element-description">
         <ng-container *ngIf="element.career_id; else noCareer">
           <span class="text-blue">
             <span class="bold">Carrera:</span> {{element.career_id.name}} 
           </span> 
         </ng-container>
         <ng-template #noCareer>
           <span class="text-blue">
             <span class="bold">Carrera:</span> No hay carrera asociada.
           </span> 
         </ng-template>
         <br>
         <b class="bold">Creado:</b> {{element.created_at}} <br> 
         <span class="example-element-description-attribution"> 
           <b class="bold">ID: </b>
           {{ element._id }} 
         </span>
       </div>
     </div>
   </td>
 </ng-container>
 <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
 <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
     class="example-element-row"
     [class.example-expanded-row]="expandedElement === element"
     (click)="expandedElement = expandedElement === element ? null : element">
 </tr>
 <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="pagination"></mat-paginator>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<!-- <ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
 <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
   <div class="example-element-diagram">
     <div class="example-element-position"> {{element._id}} </div>
     <div class="example-element-name"> {{element.name}} </div>
     <div class="example-element-symbol"> {{element.created_at}} </div>
     <div class="example-element-weight"> {{element.year}} </div>
   </div>
   <div class="example-element-description">
     {{element.status}}
     <span class="example-element-description-attribution"> -- Wikipedia </span>
   </div>
 </div>
</td>
</ng-container>  -->

<!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
<!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
 class="example-element-row"
 [class.example-expanded-row]="expandedElement === element"
 (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
<!-- </table> -->
<!-- <button (click)="_file.getFiles()">Test</button> -->
</div>
