.row .col-xl-5:first-child {
    padding-right: 0px;
}
/* 
.row .col-xl-5:las-child {
    padding-right: 0px;
} */
.card-file {
    height: 100%;
}
.card-files-added {
    margin-bottom: 0;
}
label {
    margin-bottom: 0 !important;
}
.form-group {
    margin-bottom: 10px
}
.card-body {
    padding: 10px
}
/* [class^="tocolor-"] — starts with "tocolor-".
[class*=" tocolor-"] — contains the substring "tocolor-" */

/* [class^="col-"] {
    padding: 5px;
} */

input.center {
    text-align: center;
}

.dFlex {
    flex: 1;
}
.mat-option:hover {
    background-color: rgba(0,0,0,.1) !important;
}

/* .mat-option {
    height: 65px;
    line-height: 20px !important;
    flex-direction: column;
    overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.mat-option > span {
    flex-direction: column;
}
span.mat-option-text {
    flex-direction: column;
} */
.mat-stroked-button {
    line-height: 22px !important;
    background-color: #ffb22b !important;
    color: white !important;
}