.card-orders  {
    height: 100%;
}
td.mat-column-client,td.mat-column-details {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important
}
td.mat-column-quantity {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
table {
    width: 100%;
  }
  

.mat-header-cell {
    color: #1e88e5;
}
.mat-row {
    height: auto !important;
    min-height: 48px;
}
tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    /* flex-flow: row; */
}
.mat-column-expandedDetail, .example-expanded-row {
    background-color: #f6f6f6;
}
.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.example-container > div {
    padding-left: 15px;
}
hr {
    margin: 0.5em auto;
}