@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'courgette';
    src: url("assets/fonts/Courgette/Courgette.ttf")
}
@font-face {
    font-family: 'dancing';
    src: url("assets/fonts/Dancing/dancing.ttf")
}
/* BACKGROUND */
.dark-gray {
    background-color: #2d3327;
}
.green {
    background-color: #5fb410  !important;
    color: #fff;
}
.green.btn:disabled {
    opacity: 0.4;
}
.btn-info:disabled {
    opacity: .4;
    background-color: #1e88e5;
}
/* ///////////////////////////// */
/*           FONT*             */
/* //////////////////////////// */
.text-white {
    color: #fff !important;
}
.text-red {
    color: #fd2b1c;
}
.text-green {
    color: #5fb410 !important;
}
.text-blue {
    color: #1e88e5 !important
}
.text-blue-light {
    color: #64b1f5 !important
}
.text-black {
    color: #000
}
.text-orange {
    color: #ff9101;
}
.text-gray {
    color: #333
}
.text-lime {
    color: #d0ff00;
}
.b-red {
    background-color: rgb(255, 0, 0);
    color: #fff;
}
.b-green {
    background-color: #5fb410;
    color: #fff;
}
.b-blue {
    background-color: #1e88e5 !important
}
.b-black {
    background-color: #000;
    color: #fff;
}
.b-gray {
    background-color: #798699;
    color: #fff;
}
.b-dark-gray {
    background-color: #222;
    color: #fff;
}

.b-orange {
    background-color: #dd8902;
}
.b-rainbow {
    background: linear-gradient(to bottom, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

.b-rainbow-h {
    background: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    color: white
}
.b-dark {
    background: linear-gradient(to top, #2779fc 0%, #000000 100%);
    color: white
}
.b-dark-h {
    background: linear-gradient(to right, #2779fc 0%, #7b7b7b 100%);
    color: white
}
.date {
    padding: 15px 10px;
}
/* FUENTES */
.i {
    font-style: italic !important;
}
.s {
    text-decoration: underline;
}
.normal {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.semi-bold {
    font-weight: 700;
}
.bolder {
    font-weight: 900;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.f-06em {
    font-size: 0.6em;
}
.f-08em  {
    font-size: 0.8em;
}
.f-12em  {
    font-size: 1.2em;
}
.f-14em  {
    font-size: 1.4em;
}
.f-16em  {
    font-size: 1.6em;
}
.f-18em  {
    font-size: 1.8em;
}
.f-20em  {
    font-size: 2em;
}
.f-25em  {
    font-size: 2.5em;
}
.f-64 {
    font-size: 64px !important;
}
.f-32 {
    font-size: 32px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-10 {
    font-size: 10px !important;
}
.f-8 {
    font-size: 8px !important;
}

/* //////////////////////////// */
/*           TABLE*            */
/* //////////////////////////// */

.table-hover:hover {
    background-color: #f2f4f8;
}
.cancelled-row  {
    background-color: #ffebd8;
    /* border-bottom: 1px solid #ccc; */
}
.order-obs {
    border: 1px dashed #ff8f00;
    background-color: rgb(255 228 195);
    color: #ff2f00;
    padding: 10px 25px;
    margin-top: 15px;

}

/* /////////////////////////////////// */
/*           WIDTH* HEIGHT*            */
/* /////////////////////////////////// */
.full-width {
    width: 100% !important;
}
.w-60p {
    width: 60% !important;
}
.w-55 {
    width: 55px;
}
.w-70 {
    width: 70px;
}
.w-250 {
    width: 250px;
}
.w-260 {
    width: 260px;
}
.w-270 {
    width: 270px;
}

.z-100 {
    z-index: 100;
}
.libros {
    color: #000;
}
.libros td {
    padding: 5px
}
.libros td:last-child {
    width: 40px
}

/* Padding */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}
.p-45 {
    padding: 45px;
}
.p-50 {
    padding: 50px;
}
.p-0 {
    padding: 0 !important;
}
.p-lr-5 {
    padding-left: 5px !important;    
    padding-right: 5px !important;    
}
.p-lr-10 {
    padding-left: 10px !important;    
    padding-right: 10px !important;    
}
.p-lr-15 {
    padding-left: 15px !important;    
    padding-right: 15px !important;    
}
.p-lr-20 {
    padding-left: 20px !important;    
    padding-right: 20px !important;    
}
.p-lr-25 {
    padding-left: 25px !important;    
    padding-right: 25px !important;    
}
.p-lr-30 {
    padding-left: 30px !important;    
    padding-right: 30px !important;    
}
.p-lr-45 {
    padding-left: 45px !important;    
    padding-right: 45px !important;    
}
.p-lr-50 {
    padding-left: 50px !important;    
    padding-right: 50px !important;    
}

.p-r-10 {
    padding-right: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-r-25 {
    padding-right: 25px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-l-20 {
    padding-left: 20px;
}
.p-l-25 {
    padding-left: 25px;
}
/* Margin* */
.m-0 {
    margin: 0;
}
.m-l-r-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.m-r-2 {
    margin-right: 2px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t--5 {
    margin-top: -5px !important;
}
.m-t--10 {
    margin-top: -10px;
}
.m-t--15 {
    margin-top: -15px;
}
.m-t--20 {
    margin-top: -20px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-40 {
    margin-bottom: 40px;
}

.pointer {
    cursor: pointer;
}
.custom-error {
    font-size: 12px;
    font-weight: 400;
    /* color: red; */
}
.dialog-container {
    padding: 20px -5px 40px;
}
.dialog-container > div {
    margin-bottom: 10px;
}
/* .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
} */

/* //////////////////////////// */
/*           SIDEBAR            */
/* //////////////////////////// */

#profileImgSidebar {
    /* margin-top: 20px; */
    margin-left: 50px;
    padding: 20px 0;
    /* border-radius: 100%; */
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 80px;
    width: 80px;
}

/* ////////////////////////// */
/*           HEADER*          */
/* ///////////////////////// */
#profileImgHeader {
    /* padding: 35px 0; */
    margin-top: 10px;
    width:45px;
    height:45px;
    border-radius:50%;
    /* border:1px solid red; */
    /* background-image: url(http://lorempixel.com/g/400/200/); */
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto 100%;
}
.header-role {
    padding: 15px 5px;
    margin-right: -5px;
    box-shadow: 2px 2px 5px #333;
}
.header-img {
    padding: 0 10px;
    height: 61px;
}
.header-company-name {
    /* font-family: 'courgette'; */
    color: #fff;
    font-size: 24px;
}
.header-company-logo {
    margin-top: -6px;
}
/* ////////////////////////// */
/*           HOME            */
/* ///////////////////////// */
.mat-row {
    position: relative;
}
.shipping-tag {
    background-color: #5fb410;
    position: absolute;
    left: 0;
    top: -3px;
    color: white;
    font-size: 10px;
    padding: 1px 5px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}
.shipping-tag-triangle {
    width: 0;
    top: -3px;
    height: 0;
    position: absolute;
    /* border-top: 60px solid transparent; */
    border-bottom: 17px solid transparent;
    border-left: 10px solid #5fb410;
    margin-left: 14px;
    margin-bottom: 10px;
}

.shipping-tag.tag-delivered {
    background-color: #1e88e5;
}
.shipping-tag-triangle.tag-delivered {
    border-left: 10px solid #1e88e5;
    margin-left: 22px;
}

tr.example-element-row:not(.example-expanded-row):hover, 
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgb(196, 236, 255);
    /* cursor: pointer; */
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: rgb(131, 211, 248);
  }
.example-expanded-row {
    cursor: pointer;
}
.mat-header-cell {
    color: #1e88e5;
    font-size: 1em;
    line-height: 0.9em;
}
.mat-cell-center {
    text-align: center;
}
th.mat-sort-header-sorted {
    color: black;
  }
tr.mat-row:not(.example-expanded-row):hover {
    background: rgb(199, 236, 253);
    cursor: pointer;
}

.example-element-diagram {
    width: 105px;
    text-align: center;
    height: auto !important;
    min-height: 104px !important;
}

.btn-sm {
    padding: .25rem .25rem;
    font-size: 12px;
}
.add-task-total {
    font-size: 1.5em;
}
span.mat-option-text {
    display: flex !important;
}   
.mat-option-text[span]:last-child {
    flex: 1;
}   
.order-detail-date>div {
    border: 1px  solid #e0e0e0;
    padding: 7px;
}

/* //////////////////////////////// */
/* IMPRESIÓN */
/* //////////////////////////////// */

app-order-print {
    /* margin-left: -75px; */
    font-size: 12px;
    width: 100%;
}

app-order-print hr{
    border: 1px solid #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order-logo-wrapper {
    border: 2px solid #333;
    /* padding: 15px 10px; */
    margin-right: 20px;
    height: 184px;
}
.order-logo-wrapper > img {
    width: 180px;
    height: 180px;
}
.order-info-wrapper {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 5px solid transparent; /* For Safari 5.1 to 6.0 */
    border-image: linear-gradient(to bottom, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
.order-print-books {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}
.order-print-items {
   border-bottom: 1px solid #e0e0e0;
}
/* /////////////////////////// */
/*          SNACKBAR            */
/* /////////////////////////// */
.branch-toast .mat-simple-snackbar-action {
    color: rgb(22, 243, 22);
}
.toast-update .mat-simple-snackbar-action {
    color: rgb(28, 172, 255);
}
.toast-warning .mat-simple-snackbar-action {
    color: rgb(255, 145, 0);
}
.toast-success .mat-simple-snackbar-action {
    color: rgb(22, 243, 22);
}


/* /////////////////////////// */
/*          PROFILE*            */
/* /////////////////////////// */
#profileImg {
    padding: 35px 0;
    width:150px;
    height:150px;
    border-radius:50%;
    /* border:1px solid red; */
    /* background-image: url(http://lorempixel.com/g/400/200/); */
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto 100%;
}
.motivational-phrase {
    font-family: 'dancing';
}
.mat-form-field-infix {
    width: 100% !important;
}
.add-user-dialog-banner {
    margin-top: -18px; 
    border-radius: 4px; 
    margin-bottom: -18px; 
    margin-right: -2px;
}
.topbar ul.dropdown-user li .dw-user-box {
    padding-left: 10px;
    word-wrap: break-word;
}
.profile-text a {
    color: #fff;
}

.profile-img-container {
    /* width: 200px; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}
.profile-img {
    /* position: absolute;
    left: -50%; */
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    /* transform: translateX(-50%); */
}
.profile-user-img {
    width: 100px;
    /* margin-left: 50px; */
    padding: 35px 0;
    border-radius: 100%;
}
.profile-user-img:before {
    -webkit-animation: 2.5s blow 0s linear infinite;
    animation: 2.5s blow 0s linear infinite;
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    top: 50px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 0
}

.profile-username {
padding: 10px 20px;
/* border-bottom: 1px solid #999; */
background-color: #000;
}
.profile-username h2{
color: rgb(191, 215, 253);
}
.statistics-progress {
    margin-top: -65px;
}
.mat-tab-label {
    font-size: 16px;
}
.tool-wrapper {
    padding: 10px 0 !important;
    /* background-color: #fd1892; */
}
.tool {
    color: #fff !important;
    padding: 2px;
}
.tool-wrapper .legend-label-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #fff;
    border-radius: 3px;
}
.profile-image {
    word-break: break-all; 
    font-size: 13px;
}
.example-full-width {
    width: 100%;
}

/* ///////////////////////////////*/
/*          ADD CLIENT            */
/* ///////////////////////////////*/

/* ///////////////////////////////*/
/*          BRANCHES            */
/* ///////////////////////////////*/

.branch-image-card {
    height: 150px;
    width: 100%;
    background: url(./assets/images/branch.jpg) no-repeat;
}



/* /////////////////////////////*/
/*            FOOTER*            */
/* /////////////////////////////*/
.footer {
    background: linear-gradient(-45deg, #000000, #ff0000, #000000);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    /* background-color: #1e88e5; */
    color: #fff;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer-company {
    font-size: 2em;
    font-weight: 100;
    /* font-family: 'courgette'; */
}

.footer-company img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.footer-404 {
    background-color: #272c33;
    color: #aaa;
    bottom: 0;
    left: 0px;
    padding: 17px 15px;
    position: absolute;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}
/* .printMe * {
    visibility: visible !important; 
} */

/* ////////////////////////////////////////*/
/*                   MEDIA                 */
/* ////////////////////////////////////////*/
@media print {
    /* html {
        width: 800px !important;
        max-width: 800px !important;
    } */
    header, app-sidebar, app-breadcumbs, .noDisplay, app-footer
    .left-sidebar, matTooltip {
        display: none !important;
    }
    @page {
        size: 210mm 297mm  !important
    }
    /* .noPrint {
        visibility: hidden !important;
    } */
    .order {
        /* min-height: 500px !important; */
        width: 100%;
    }
    .printMe * {
        visibility: visible !important;
    } 
  }

@media screen {
    .printMe {
        visibility: hidden !important;
        /* margin-left: -180px; */
    }
    .printCard {
        
    }
}

